*{
    padding: 0;
    margin: 0;
    
}

.container{
    width: 100%;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    position: relative;

}

.yo{
    top: 130%;
}
.links li{
    list-style: none;

}
.links a{
    text-decoration: none;
    font-size: 1.2rem;
    color: white;
}

body{
    overflow-x: hidden;
}

.ref{
    top: 55rem;
    right: 60%;
}

nav{
    overflow-x: hidden;
}